header{
    padding: 3% 2%;
    color: #fff;
    background-color: #03492b;
    text-indent: 6%;

  }

  body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px; 
  line-height: 1.6; 
  text-indent: 6%;
}
  
main {
    margin: 0 auto;
    padding: 0;
    max-width: 85%;
    text-indent: 6%;

  }
  

  
  nav#Principal ul  {
    justify-content: space-around;
    list-style: none;
    margin-top: 40px;
  }
  nav#Principal li  {
    display: inline;
    margin: 15px;
  }
  nav#Principal a {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

section img{
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 10px ;
}

.imgs1{
  width: 95%;
  height: auto;
  margin-bottom: 10px;
}

.seccion1{
  column-count: 2;
  column-gap: 10%;
}
section {
  
    margin:  auto;
    padding: 20px;
  }
  footer{
    padding: 1% 2%;
    color: #fff;
    background-color: #03492b;
  }

  


